name: Node.js CI

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v2
            - uses: dcodeIO/setup-node-nvm@master
            - run: npm ci
            - run: npm run build --if-present
            - run: npm test
